html, body {
	height: 100%;
}

body {
	min-height: 500px;
	overflow-y: scroll;
	position: relative;
}

.app-header {
	.container {
		width: 940px;
	}
}

.app-footer {
	background: #222;
	bottom: 0;
	border-top: 1px solid #000;
	color: #666;
	left: 0;
	padding: 17px 0 18px 0;
	position: absolute;
	right: 0;

	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.content {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 67px;
	top: 62px;
}